In [1]:
import pandas as pd

from graphdatascience import GraphDataScience

In [2]:
url = 'bolt://54.84.249.51:7687'
pwd = 'worksheet-administrator-investigations'

In [3]:
gds = GraphDataScience(url, auth=("neo4j", pwd))

In [4]:
query = 'MATCH (n) RETURN COUNT(n) AS count'

gds.run_cypher(query)

   count
0   8627

In [5]:
query = """CALL gds.graph.project(
                'routes',
                'Airport',
                'HAS_ROUTE'
            )
            YIELD
                graphName, nodeProjection, nodeCount, relationshipProjection, relationshipCount
"""

gds.run_cypher(query)

,graphName,nodeProjection,nodeCount,relationshipProjection,relationshipCount
0,routes,"{'Airport': {'label': 'Airport', 'properties':...",3503,"{'HAS_ROUTE': {'orientation': 'NATURAL', 'aggr...",46389

In [6]:
G, res = gds.graph.project(
    'airports',                 
    'Airport',   
    "HAS_ROUTE"                            
)

In [7]:
type(res)

pandas.core.series.Series

In [8]:
print(res)

nodeProjection            {'Airport': {'label': 'Airport', 'properties':...
relationshipProjection    {'HAS_ROUTE': {'orientation': 'NATURAL', 'aggr...
graphName                                                          airports
nodeCount                                                              3503
relationshipCount                                                     46389
projectMillis                                                           106
Name: 0, dtype: object

In [9]:
G.node_count(), G.relationship_count()

(3503, 46389)

In [10]:
G.degree_distribution()

p99     175.000000
min       0.000000
max     307.000000
mean     13.242649
p90      38.000000
p50       2.000000
p999    270.000000
p95      71.000000
p75       9.000000
dtype: float64

In [11]:
res = gds.pageRank.stream(G)
res

      nodeId      score
0       8627  10.389948
1       8628   2.651157
2       8629   3.397036
3       8630   2.913093
4       8631   5.587850
...      ...        ...
3498   12125   0.174984
3499   12126   0.174984
3500   12127   0.174984
3501   12128   0.174984
3502   12129   4.808279

[3503 rows x 2 columns]